services:
  postgres:
    image: postgres:17-alpine
    container_name: git_town_postgres
    restart: unless-stopped
    # Remove the following 2 lines in production
    ports:
      - 5432:5432
    env_file:
      - ./postgres/.env
    networks:
      - network
    volumes:
      - volume:/var/lib/postgresql/data
      - ./database/0_tables.sql:/docker-entrypoint-initdb.d/0_tables.sql
      - ./database/1_triggers.sql:/docker-entrypoint-initdb.d/1_triggers.sql
      - ./database/2_data.sql:/docker-entrypoint-initdb.d/2_data.sql

networks:
  network:
    driver: bridge
    name: git_town_network

volumes:
  volume:
    name: git_town_data
