name: ${PROJECT_NAME}

services:
  postgres:
    restart: unless-stopped
    image: postgres:17
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - 5432:5432
    volumes:
      - ./database/0_tables.sql:/docker-entrypoint-initdb.d/0_tables.sql
      - ./database/1_triggers.sql:/docker-entrypoint-initdb.d/1_triggers.sql
      - ./database/2_data.sql:/docker-entrypoint-initdb.d/2_data.sql
