services:
  postgres:
    image: postgres:17-alpine
    container_name: git_town_postgres
    restart: unless-stopped
    env_file:
      - ./postgres/.env
    # Remove the following 2 lines in production
    ports:
      - 5432:5432
    networks:
      - postgres_network
    volumes:
      - postgres_data_volume:/var/lib/postgresql/data:rw
      - ./postgres:/docker-entrypoint-initdb.d:ro
  fastify:
    depends_on:
      - postgres
    image: node:22-alpine
    container_name: git_town_fastify
    restart: unless-stopped
    working_dir: /app
    command: >
      sh -c "
        npm install --no-save &&
        npm run debug
      "
    env_file:
      - ./fastify/.env
    # Remove the following 2 lines in production
    ports:
      - 8080:80
    networks:
      - fastify_network
      - postgres_network
    volumes:
      - ./fastify:/app:ro
      - fastify_node_modules:/app/node_modules:rw

networks:
  postgres_network:
    driver: bridge
    name: git_town_postgres_network
  fastify_network:
    driver: bridge
    name: git_town_fastify_network

volumes:
  postgres_data_volume:
    name: git_town_postgres_data_volume
  fastify_node_modules:
    name: git_town_fastify_node_modules
