services:
  postgres:
    image: postgres:17
    container_name: git_town_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - 5432:5432
    networks:
      - network
    volumes:
      - ./database/0_tables.sql:/docker-entrypoint-initdb.d/0_tables.sql
      - ./database/1_triggers.sql:/docker-entrypoint-initdb.d/1_triggers.sql
      - ./database/2_data.sql:/docker-entrypoint-initdb.d/2_data.sql

networks:
  network:
    driver: bridge
    name: git_town_network