{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 2023
  },
  "rules": {
    "import/extensions": "off",
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",
    "no-throw-literal": "off"
  }
}